.phone-number-page {
  background-image: linear-gradient(to right, #79b2ba, #71e3f1);
  padding: 20px 0;

  .lecturer-info-item {
    padding: 15px;
    margin: 1rem;
    background-color: rgba(212, 239, 250, 0.76);
    animation: lecturer-info-item 400ms;

    .lecturer-info {
      padding: 10px;
      background-color: white;
      min-height: 100%;
      min-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      align-items: center;
      display: grid;
      animation: lecturer-info 400ms;

      .lecturer-name {
        margin-top: 4px;
        font-weight: 800;
        font-size: 1.3rem;
        text-align: center;
      }

      .lecturer-phone-number {
        padding-top: 12px;
        font-size: 14pt;
      }

      .lecturer-address {
        padding: 12px 0px 15px;
        font-size: 14pt;
        margin-top: auto;
      }
    }
  }
  .other-menu-item {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
    background-color: blueviolet;
    font-size: 18pt;
    text-align: center;
    animation: lecturer-info 400ms;
  }
}

@media (min-width: 768px) {
  .phone-number-page {
    .row {
      display: flex;
      flex-direction: column;

      .lecturer-info-container {
        display: grid;
        grid-template-columns: 50% 50%;
      }

      .other-menu-item {
        max-height: 10%;
      }
    }
  }
}

@media (min-width: 1100px) {
  .phone-number-page {
    .row {
      display: grid;
      grid-template-columns: 70% 30%;

      .lecturer-info-container {
        display: grid;
        grid-template-columns: 50% 50%;
      }

      .other-menu-item {
        max-height: 12%;
      }
    }
  }
}

.spinner {
  height: 80vh;
  width: 96vw;
  overflow: hidden;
}

@keyframes lecturer-info-item {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translatex(0);
  }
}

@keyframes lecturer-info {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(0);
  }
}
