.social-media-info {
   position: relative;

   .icons-row {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

}

.sosmed-icon {
   width: 30px;
   height: 30px;
}