.user-profil {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   position: relative;
   left: 8.5%;
   max-width: 260px;
   top: 20px;
}

.user-profil .profil-text {
   display: block;
   text-align: left;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   padding-right: 10px;
}

.user-profil .profil-name {
   font-size: 20px;
   color: white;
   margin-bottom: -20px;
}

.user-profil a {
   color: white;
   font-size: 14px;
   opacity: 0.5;
}

.user-profil .profil-avatar {
   position: relative;
   top: 5px;
   max-width: 50px;
   max-height: 50px;
   border-radius: 50%;
   background-color: white;
   margin-right: 5px;
}

.user-profil .profil-avatar img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
}