.task-list-menu {
   position: relative;
   width: 45%;
   height: 120px;
   background-image: url("task-list.jpg");
   background-position-y: center;
   background-size: cover;
   border-radius: 20px;

   .mask {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
         font-size: 18pt !important;
      }
   }
}

.task-list-menu:hover {
   transform: scale(1.1);
   transition-duration: 0.3s;
}
