.homepage-background {
   position: relative;
   display: flex;
   flex-direction: column;
   height: 100%;
   // border-top-left-radius: 23px;
   // border-top-right-radius: 23px;
   background-image: linear-gradient(to right, #79B2BA, #71E3F1);
   box-sizing: border-box;
   // margin-bottom: 0;
   overflow: hidden;
   margin: 0 5%;

   a {
      color: white;
   }

   .homepage-menu {
      margin: 5% 8.5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
   }

   .user-profile {
      background-color: black;
   }

   .row {
      width: 100%;
      display: flex;
      justify-content: space-around;
   }

   .phone-number-menu {
      margin: 20px;
      width: 100%;
   }
}

.homepage-background-logo {
   position: absolute;
   overflow: hidden;
   height: 100%;
   right: -10%;
}

@media (min-width: 1000px) {

   .homepage-background {
     .homepage-menu {
         h1 {
            font-size: 30pt;
         }
     }
   }
}