body {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a2e;
  box-sizing: border-box;
}

.card {
  padding: 0.5% 1%;
}

.second-background-color {
  background-color: #341850;
}

.display-none {
  display: none !important;
}

.none {
  display: none !important;
}

.menu {
  cursor: pointer;
}

.title {
  font-size: 20pt;
  font-weight: 600;
}

.container {
  margin: 0 10%;
}

.hide-on-mobile {
  display: none !important;
}

.active {
  display: flex !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.white-text {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  height: 100vh !important;
}

@media (min-width: 768px) {
  .hide-on-mobile {
    display: flex !important;
  }
}
